.newsCard {
    padding: 20px;
    display: block;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 15px;
    /* margin: 20px; */
    width: 970px;


}

.newsCard h2 {
    color: #4A76A8;
}

.newsHeader {
    color: #4A76A8;
}

.newsInfo {
    display: block;
}

.newsInfo img{
    border-radius: 30px;   
    max-width: 900px; 
    max-height: 500px;
}

.newsInfo p{
    color: #4A76A8;
    display: block;
    font-size: 180%;
}

.options {
    margin-top: 10px;
    margin-left: 10px;
    padding: 0px;
    width: 580px;
    border-radius: 10px;
    background-color: #fff;
}

.optionsTogether {
    display: flex;
}

.optionsLabel {
    color: #4A76A8;
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    background-color: #fff;
}

.optionsLabel img {
    width: 420px;
    height: 420px;
    margin-left: -70px;
    margin-bottom: -70px;
}

.optionsLabel h1 {
    width: 200px;
    font-size: 350%;
    margin-left: 160px;
    line-height: 3.4rem;
    margin-top: -5px;
    position: absolute;
    color: #4A76A8;
}

.optionstitle {
    color: #4A76A8;
    display: flex;
}

.optionstitle img {
    margin-top: 10px;
    width: 200px;
    margin-left: 30px;
}

.optionstitle h1{
    font-size: 350%;
    color: #4A76A8;
    margin-left: 130px;
    margin-top: -5px;
}


.inputGroup1 {
    display: flex;
    margin-top: 40px;
}

.inputGroup1 select{
    margin-left: 10px;
    width: 400px;
    height: 50px;
    font-size: 200%;
    color: #4A76A8;
    border: 2px solid #939393;
}

.inputGroup1 button {
    width: 160px;
    height: 50px;
    font-size: 120%;
    background-color: #4A76A8;
    color: #fff;
    border: none;
}

.inputGroup1 button:hover {
    filter: opacity(80%);
    cursor: pointer;    
}

.inputGroup1 select:hover {
    cursor: pointer;
}

.inputGroup2 {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inputGroup2 select{
    margin-left: 10px;
    width: 400px;
    height: 50px;
    font-size: 200%;
    color: #4A76A8;
    border: 2px solid #939393;
}

.inputGroup2 button {
    width: 160px;
    height: 50px;
    font-size: 120%;
    background-color: #4A76A8;
    color: #fff;
    border: none;
}

.inputGroup2 button:hover {
    filter: opacity(80%);
    cursor: pointer;    
}

.inputGroup2 select:hover {
    cursor: pointer;
}

