/* -------------------Button_back--------------------- */

.buttonBack {
    margin-top: -70px;
    margin-bottom: 22.4px;
    margin-left: 20px;
    display: flex;
    color: #4A76A8;
    /* margin-left: 15px; */
  
  }
  
  .headerMusicPlayer a {
    text-decoration: none;
  }
  
  .buttonBack h3 {
    margin-left: 5px;
    color: #4A76A8;
  }
  
  .buttonBack:hover h3 {
    color: #F62A54;
  }
  
  
  .headerMusicPlayer {
    padding-top: 80px;
  }

  .buttonBack img {
    margin-top: 10px;
    width: 30px;
    height: 40px;
  
  }



