.postsBlock {
    display: inline-block;
    width: 340px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    margin-left: 100px;
    display: flex;
}

.header img {
    width: 40px;
    height: 40px;
    margin-top: 15px;
}

.header h2 {
    margin-left: 10px;
    color: #4A76A8;
}

.inputMessage {
    color: #4A76A8;
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.inputMessage button {
    width: 320px;
    height: 40px;
    font-size: 160%;
    margin-top: 10px;
    background: #4a76a8;
    border: #4A76A8;
    border-radius: 10px;
    color: #fff;
}

.inputMessage button:hover {
    cursor: pointer;
    filter: brightness(0.95);
}

.inputMessage textarea {
    width: 302px;
    font-size: 200%;
    border-radius: 10px;
    background-color: #fff;
    color: #4A76A8;
    border: #4A76A8;
    padding-left: 10px;
}

.inputMessage textarea::-webkit-input-placeholder { 
    color: #4A76A8;
}