.item {
  padding: 10px;
  
}

.likes {
  padding: 10px;
}

.likes h4 {
  color: #4a76a8;
  margin-top: -10px;
}

.description img {
  width: 50px;
  height: 50px;
  border-radius: 30px;
}

.description {
  display: flex;
}

.description h6{
  color: #4a76a8;
  font-size: 90%;
  margin-left: 10px;
  margin-top: 10px;
}

.likesCount svg {
  width: 20px;
  height: 20px;
  margin-bottom: -3px;
}

.likesCount span {
  margin-top: 10px;
  color: #F62A54;
  font-size: 100%;
}

.likesCount svg:hover {
  cursor: pointer;
  filter:opacity(70%);
  transform: scale(1.2);
}
